.container-departments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: #302e4d;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.header-departments {
    display: flex;
    align-items: center;
}

.title {
    font-size: 3rem;
}

.departments-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1em;
    width: 90%;
}

@media screen and (max-width: 500px) {
    .header-departments {
        margin-left: 30%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 80%;
    }
}
