.container-cardtasks{
    min-width: 20em;
    width: 49%;
    height: 90%;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    background-color: #e4e9f7;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-cardtasks {
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    min-height: 3em;
    width: 90%;
    height: 17%;
    align-items: center;
    gap: 3%;
    padding: 0.5em;
}

.profile-img {
    min-width: 2.5em;
    min-height: 2em;
    width: 3em;
    height: 3em;
}

.header-right {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.6em;
}

.title-cardstasks {
    display: flex;
    gap: 5%;
    align-items: center;
}

/* .links-cardtasks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #787373;
    gap: 2%;
}

.status-tasks {
    cursor: pointer;
    width: 25%;
    height: 1.2em;
    text-align: center;
}

.active {
    transition: all 0.6s ease;
    font-size: 0.9em;
    border-bottom: 2px solid #000000;
} */

.list-cardtasks {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 16%;
    padding-left: 6%;
    padding-top: 1em;
}

.input-tasks {
    border: none;
    outline: none;
    background-color: #e4e9f7;
    padding: 0.3em;
    width: 80%;
    height: 100%;
}

.input-tasks:focus {
    border-radius: 0.5em;
    padding: 0.3em;
}

.btn-addTask {
    transition: all 0.7s ease;
    width:2.5em;
    height: 100%;
    border-radius: 0.5em;
    border: none;
    background-color: #c1cce7;
    color: #514f4f;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.btn-addTask:active {
    background-color: #aab4cf;
}

.tasks-cardtasks {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 99.5%;
    height: 100%;
    padding: 0.5em;
    overflow-y: auto;
}

.tasks-cardtasks::-webkit-scrollbar {
    width: 0.5em;
}
  
.tasks-cardtasks::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 1em;
}

.tasks-cardtasks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

@media screen and (max-width: 800px) {
    .container-cardtasks {
        width: 95%;
        min-width: 18em;
    }
}