.container-home {
    color: #000;
    background: url("../../../public/bg.png");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.content-home-manage {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

.content-home-departments {
    width: 98.5%;
    height: 40%;
    background-color: #e4e9f7;
    border-radius: 0.8em;
}

@media screen and (max-width: 800px) {
    .content-home-manage {
        gap: 4%;
        padding: 1em;
    }
}