@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/background.png");
    background-color: #302e4d;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-width: 23%;
    height: 45%;
}

.box-1{
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-1 h1 {
    font-size: 2.5em;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 35%;
}

.box-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

.box-3-1 {
    display: flex;
    gap: 1%;
    width: 50%;
}


.box-3-1 #signup {
    color: rgb(58, 58, 190);
    font-weight: 500;
    letter-spacing: 0.04em;
}

.box-3-2 a {
    color: #b1e4de;
}

.box-4 {
    width: 90%;
    height: 12%;
}