* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.menu-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: #3a3b3c;
    border-bottom-right-radius: 0.4em;
    position: absolute;
}

.menu-icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: #fff;
}

.menu-icon:hover {
    width: 2.2em;
    height: 2.2em;
    transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
}

.container-sidebar {
    width: 12em;
    height: 100vh;
    background-color: #242526;
    position: fixed;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.close-sidebar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 0.2em;
}

.btn-close {
    width: 15%;
    height: 40%;
    cursor: pointer;
    color: #695cfe;
}

.title-sidebar {
    width: 80%;
    font-size: 1.5em;
    color: #695cfe;
    font-family: "Anton", sans-serif;
    letter-spacing: 0.07em;
}

.options-sidebar {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itens-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    height: 100%;
}

.item-sidebar {
    display: flex;
    gap: 6%;
    height: 8%;
    padding: 0.2em;
    align-items: center;
    /* background-color: #3a3b3c; */
    border-radius: 0.4em;
    cursor: pointer;
}

.item-sidebar:hover {
    /* background-color: #695cfe; */
    background-color: #3a3b3c;
    transition: box-shadow 0.7s ease, background 0.7s ease;
    box-shadow: 0px -25px 20px -20px rgba(58, 59, 60, 1),
        25px 0px 20px -20px rgba(58, 59, 60, 1),
        0px 25px 20px -20px rgba(58, 59, 60, 1),
        -25px 0px 20px -20px rgba(58, 59, 60, 1);
}

.itens-sidebar li {
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

.item-sidebar:first-child {
    background-color: #3a3b3c;
}

.links-sidebar {
    color: #fff;
}

.log-out-sidebar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-signout {
    width: 50%;
    height: 50%;
    cursor: pointer;
    color: #fff;
}

.line {
    outline: 1px solid #000;
}

@media screen and (max-width: 500px) {}