@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container-signup {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/background.png");
    background-color: rgb(65, 148, 137);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-signup {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-width: 23%;
    height: 45%;
}

.box-1-signup {
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-1-signup h1 {
    font-size: 2.5em;
}

.box-2-signup {
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: space-between;
    width: 90%;
    height: 50%;
}

.box-3-signup {
    width: 90%;
    height: 12%;
}